.bbex_notice{
  padding: 20px;
  background-color: #2c3644;
  min-height: 400px;
  color: #fff;
}

.loadmore{
  text-align: 'center';
  margin-top: 12px;
  height: 32;
  line-height: '32px';
  display: flex;
  justify-content: center;
}
.notice_item div{
  display: flex;
  justify-content: space-between;
}
.notice_title{
  padding-bottom: 8px;
  font-size: 18px;
  border-bottom: 1px solid #80D8F7;
}