.content.trade {
    padding: 0 0 20px;
    background-color: rgb(51, 60, 75);
}

.trade-area {
    margin-top: 20px;
}
.trade-left {
    flex: 1 0 230px;
    margin-right: 10px;
}
.trade-center {
    flex: 1 0 640px;
    margin-right: 10px;
}
.trade-right {
    flex: 1 0 310px;
}

.trade-plate {
    width: 100%;
    margin-bottom: 10px;
    color: #fff;
    box-shadow: 0 0 15px #252b36;
    background-color: #292f3d;
}
.trade-plate-header {
    position: relative;
    padding: 0 20px;
    line-height: 52px;
    border-bottom: 1px solid #d4a668;
}
.trade-plate-header a:link,
.trade-plate-header a:visited,
.trade-plate-header-text{
    color: #d4a668;
}
.trade-plate-header-price {
    padding-left: 20px;
}
.trade-plate-header-right {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.trade-plate-header-right .ant-input {
    border: 1px solid #cfd2a6;
    border-radius: 4px;
    color: #fff;
    background-color: #292f3d;
}
.trade-plate-header-right .ant-input-search-icon {
    color: #cfd2a6;
}
.trade-plate-tab .iconfont {
    display: inline-block;
    width: 40px;
    text-align: center;
    color: #585858;
    cursor: pointer;
}
.trade-plate-tab .iconfont:hover,
.trade-plate-tab .iconfont.active {
    color: #d4a668;
}
.trade-plate-header-right .ant-select {
    margin-left: 5px;
}
.trade-plate-header-right .ant-select .ant-select-selection {
    border-color: #cfd2a6;
    color: rgb(238, 238, 238);
    font-size: 12px;
    border-radius: 4px;
    background-color: #252b36;
}
.trade-plate-header-right .ant-select .ant-select-arrow {
    color: #cfd2a6;
}

.trade-plate-tit {
    display: flex;
    line-height: 42px;
    font-size: 12px;
    border-bottom: 1px solid #3f4451;
}
.trade-plate-tit.cell-3 {
    font-size: 14px;
}
.trade-plate-tit.Kline {
    color: rgb(175, 163, 115);
}
.trade-plate-tit.Kline strong {
    padding-left: 5px;
    font-weight: bolder;
}
.trade-plate-tit-cell {
    flex: 1 1 80px;
    text-align: center;
}
.trade-plate-tit-cell.sorter {
    cursor: pointer;
}
.trade-plate-tit-cell .ant-table-column-sorter {
    margin-left: 2px;
}
.trade-plate-tit-cell .ant-table-column-sorter .anticon-caret-up, 
.trade-plate-tit-cell .ant-table-column-sorter .anticon-caret-down {
    color: rgb(100, 93, 66);
    font-size: 12px;
}
.trade-plate-container {
    width: 100%;
    height: 380px;
}
.trade-plate-list {
    position: relative;
    height: 865px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.trade-plate-container table,
.trade-plate-list table {
    width: 100%;
}
.trade-plate-list-wrap {
    flex-basis: 48%;
    border: #F00;
}
.trade-plate-container tr,
.trade-plate-list tr {
    display: flex;
}
.trade-plate-container td,
.trade-plate-list td {
    flex: 1 0 80px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}
.trade-plate-list td {
    padding: 4px 5px;
}
.trade-plate-list td:nth-child(1),
.trade-plate-tit.list .trade-plate-tit-cell:nth-child(1) {
    flex: 1 0 60px;
}
.trade-plate-list td:nth-child(2),
.trade-plate-list td:nth-child(3),
.trade-plate-tit.list .trade-plate-tit-cell:nth-child(2),
.trade-plate-tit.list .trade-plate-tit-cell:nth-child(3) {
    flex: 1 0 80px;
}
.trade-plate-list td:nth-child(4),
.trade-plate-tit.list .trade-plate-tit-cell:nth-child(4) {
    flex: 1 0 90px;
}

.trade-plate-container.market tr:hover,
.trade-plate-container.market tr.selected{
    background-color: #3f4657;
}
.trade-plate-container td:first-child {
    padding-left: 10px;
    text-align: left;
}
.trade-plate-container td .iconfont {
    display: inline-block;
    margin-top: -5px;
    font-size: 18px;
}
.trade-plate-container td .icon-shoucang {
    color: #585858;
}
.trade-plate-container td .icon-shoucang-active {
    color: #d4a668;
}

/* tabs style */
.trade-plate .ant-tabs-bar {
    margin-bottom: 0;
}
.trade-plate .ant-tabs-nav .ant-tabs-tab {
    padding: 0 16px;
    height: 54px;
    line-height: 53px;
    color: #fff;
}
.trade-plate .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active {
    color: #d4a668;
}
.trade-plate .ant-tabs-nav .ant-tabs-tab .icon-web-icon- {
    margin-left: 5px;
    color: #fd3737;
}
.trade-plate .ant-tabs-content {
    position: relative;
    width: 100%;
}
.trade-plate .ant-tabs-content .ant-tabs-tabpane {
    position: relative;
    height: 423px;
    color: #fff;
}

/* 合并select框 */
.merge-dropdown {
    border: 1px solid #585858;
    background-color: #252b36;
}
.merge-dropdown .ant-select-dropdown-menu-item {
    color: #fff;
    padding: 10px 12px;
}
.merge-dropdown .ant-select-dropdown-menu-item:hover, 
.merge-dropdown .ant-select-dropdown-menu-item-selected{
    color: #d4a668;
    background-color: #434447;
}

/* 最新价 */
.latest-price {
    display: flex;
    justify-content: space-around;
    flex-basis: 40px;
    margin: 10px;
    line-height: 40px;
    font-size: 18px;
    background-color: #394354;
}
.latest-price .icon-xinhao {
    padding-right: 10px;
}
.latest-price .icon-xinhao {
    padding-right: 10px;
}
.latest-price span:last-child .iconfont {
    font-size: 32px;
}
/* 最新价 */

/* 表格 */
.trade-plate .ant-table-thead > tr > th,
.trade-plate .ant-table-tbody > tr > td,
.trade-plate .ant-table-placeholder {
    color: #fff;
    border-bottom-color: #585858;
    background-color: #343c4c;
}
/* 表格 */

/* trade-form */
.property-info {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.property-info .recharge-link {
    display: inline-block;
    margin-left: 60px;
    padding: 10px 20px;
    border: none;
    color: #d4a668;
    background-color: #343c4c;
    box-shadow: 0 0 15px #252b36;
}

.trade-form {
   position: absolute;
   top: 70px;
   left: 5%;
   width: 42%;
}
.trade-form:last-child {
    left: auto;
    right: 5%;
}
.trade-form li{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 50px;
}
.trade-form li:nth-child(2n-1) {
    margin-right: 40px;
}
.trade-form li .trade-form-name {
    position: absolute;
    top: 12px;
    left: 0;
    width: 50px;
}
.trade-form li .trade-form-name.market {
    top: 44px;
}
.trade-form li .trade-form-marketName {
    position: absolute;
    top: 12px;
    right: 45px;
}
.trade-form li .trade-form-coinName {
    position: absolute;
    top: 12px;
    right: 15px;
}
.trade-form li .trade-form-coinName.market {
    top: 44px;
}
.trade-form li .trade-form-tips {
    color: #cfd2a6;
}
.trade-form li .trade-form-txt {
    display: flex;
    justify-content: space-between;
    width: 270;
    margin: 10px 0 10px -50px;
}
.trade-form .ant-input-number,
.trade-form .ant-input {
    width: 100%;
    height: 46px;
    color: #fff;
    border: 1px solid #cfd2a6;
    background-color: #252b36;
}
.trade-form .ant-input-number-input {
    height: 44px;
    color: #fff;
    background-color: #252b36;
}
.trade-form .ant-input-number-handler-wrap {
    width: 30px;
    background-color: #343c4c;
}
.trade-form .ant-input-number-handler {
    text-align: center;
}
.trade-form .ant-input-number-handler-up-inner,
.trade-form .ant-input-number-handler-down-inner {
    right: 10px;
    color: #fff;
    font-size: 14px;
}
.trade-form .toCNY {
    color: #999;
}
/* trade-form */

/* slider */
.trade-form .ant-slider-with-marks {
    margin-bottom: 20px;
}
.trade-form .ant-slider-rail{
    background-color: #434447;
}
.trade-form .ant-slider-dot {
    top: -3px;
    width: 10px;
    height: 10px;
    border-color: #585858;
    background-color: #585858;
}
.trade-form .ant-slider-dot-active {
    border-color: #cfd2a6;
    background-color: #cfd2a6;
}
.trade-form .ant-slider-handle {
    border: none;
    box-shadow: 0 0 10px #fff, 0 0 10px #fff;
}
/* slider */


.trade-form .trade-form-total {
    width: 100%;
    text-align: center;
}
.trade-form .ant-btn {
    width: 100%;
    margin-top: 10px;
}

/* 下拉菜单 */
.content.trade .ant-dropdown {
    border: 1px solid #6e6e6e;
}
.content.trade .ant-dropdown-menu-item{
    padding: 10px 12px;
    color: #fff;
    background-color: #2d3443;
}
.content.trade .ant-dropdown-menu-item:hover {
    color: #d4a668;
    background-color: #545861;
}
/* 下拉菜单 */