html, body {
    width: 100%;
    min-width: 1200px;
    min-height: 100%;
    color: #333;
}
#root {
    position: absolute;
    min-height: 100%;
    width: 100%;
    min-width: 1200px;
}
.container {
    min-height: 100%;
    width: 100%;
    padding-bottom: 347px;
    background-color: #f5f5f5;
}
.content-inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 90%;
    min-width: 1200px;
    margin: 0 auto;
}
.content {
   position: relative;
}

a:link, a:visited {
    color: rgb(153, 153, 153);
    text-decoration: none!important;
}
a:hover {
    color: #fff;
    outline: none;
    text-decoration: none;
}

.header {
    position: relative;
    height: 60px;
    padding: 0 176px 0 206px;
    border-bottom: 1px solid rgba(204, 210, 218, 0.16);
    line-height: 58px;
    color: rgb(153, 153, 153);
    background-color: rgb(1, 4, 6);
}
.header:hover {
    background-color: rgba(1, 4, 6, .9);
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 206px;
    height: 100%;
    text-align: center;
}

.nav-bar {
    float: left;
    margin-left: 10px;
    margin-left: 0;
    margin-bottom: 0;
}
.nav-bar li {
    float: left;
    margin: 0 2px;
}
.nav-bar li a {
    display: inline-block;
    width: 86px;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid transparent;
}
.nav-bar li a:hover {
    color: rgb(170, 136, 89);
    border-bottom-color: rgb(170, 136, 89);
}

.user-status {
    float: right;
}
.user-status .iconfont {
    padding-right: 5px;
}
.user-status a {
    padding: 0 5px;
}
.user-status a:hover {
    color: rgb(250, 250, 250);
}

.select-bar {
    position: relative;
    width: 126px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    z-index: 10;
}
.select-bar.language {
    position: absolute;
    top: 0;
    right: 20px;
}
.select-bar .icon-jiantou_down:before {
    display: inline-block;
    transition: .2s ease-in;
}
.select-bar:hover .icon-jiantou_down:before{
    transform: rotate(180deg);
}
.select-bar .icon-diqiu {
    float: left;
    margin-left: 5px;
}
.select-bar .icon-jiantou_down {
    float: right;
    margin-right: 5px;
}


.select-list {
    position: absolute;
    width: 100px;
    right: 10px;
    top: 0;
    opacity: 0;
    border: 1px solid rgba(204, 210, 218, 0.16);
    background-color: rgb(1, 4, 6);
    transition: .2s;
}
.select-bar:hover .select-list {
    top: 59px;
    opacity: 1;
}
.select-list li {
    height: 40px;
    width: 100%;
    line-height: 40px;
}
.select-list li:hover {
    color: rgb(235, 235, 235);
}
.select-list li>a {
    display: block;
    width: 100%;
    height: 100%;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(153, 153, 153);
    background-color: #2c3644;
}
.footer-container {
    width: 80%;
    margin: 0 auto;
}
.footer-main {
    padding: 60px 0 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); 
}
.footer-logo {
    float: left;
    width: 135px;
    padding-left: 10px;
    font-size: 12px;
    text-align: center;
}
.footer-main-right {
    float: right;
    width: 74%;
}
.footer-nav {
    float: left;
    width: 60%;
}
.footer-nav li {
    float: left;
    width: 33.3%;
    color: #fff;
    text-align: center;
}
.footer-nav li>a {
    display: block;
    margin-top: 10px;
}

.footer-contact {
    float: right;
    margin-right: 2%;
    color: #FFF;
}
.footer-contact li {
    margin-bottom: 10px;
}
.footer-contact li:last-child {
    color: rgb(153, 153, 153);
}
.footer-contact li>a {
    padding-right: 20px;
}

.footer-link {
    padding: 10px 0;
    font-size: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-link a {
    padding-left: 15px;
}
.footer-copyright {
    font-size: 12px;
    padding: 15px 0;
}

.icon-zhuyishixiang {
    color: #d42f2f;
}

.form-box {
    width: 460px;
    margin: 110px auto 130px;
    padding: 50px 56px;
    text-align: center;
    background-color: #FFF;
}
.form-box h1 {
    font-size: 20px;
    font-weight: normal;
}
.attention {
    margin-top: 20px;
}
.safety-site {
    display: inline-block;
    padding: 0 15px;
    font-weight: bolder;
    color: #6e6e6e;
    font-size: 16px;
    border: 2px solid #DFDFDF;
}
.safety-site .iconfont {
    padding-right: 5px;
    color: rgb(5, 201, 5);
}
.safety-site em {
    color: rgb(5, 201, 5);
}
.error-tip {
    height: 30px;
    margin-top: 5px;
    color: #d42f2f;
    font-size: 12px;
    text-align: left;
}
.form-list {
    text-align: left;
}
.form-list li {
    position: relative;
    margin-bottom: 15px;
}
.form-list .iconfont {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.form-list input.text {
    width: 100%;
    height: 40px;
    padding-left: 40px;
    outline: none;
    line-height: 40px;
    border: 1px solid #dfdfdf;
}
.form-list input.text:focus {
    border-color: #d4a668;
}
.form-list input.error {
    border-color: #d42f2f;
}
.form-list input.button {
    width: 100%;
    height: 40px;
    color: #fff;
    outline: none;
    border: none;
    transition: .1s;
    background-color: #d4a668;
}
.form-list input.button:hover {
    background-color: #c08b47;
}
.form-list input.button.disabled {
    background-color: #c2c2c2;
}
.form-list input.checkbox {
    margin-right: 8px;
}
.form-list a:link,
.form-list a:visited {
    color: #d4a668;
}
.form-list a:hover {
    text-decoration: underline;
}
.form-list button.inner-button {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 38px;
    padding: 0 15px;
    border: none;
    color: #d4a668;
    outline: none;
}
.form-list button.inner-button:hover {
    color: #b68c03;
}
.form-list button.inner-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 24px;
    transform: translateY(-50%);
    background-color: #dfdfdf;
}
.form-box .ant-btn {
    width: 100%;
}
.form-box-desc {
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
}
.form-box-text {
    margin-top: 40px;
    font-size: 14px;
}

.button {
    height: 40px;
}
.button.normal {
    color: #666;
    background-color: #f8f8f8;
    border: 1px solid #eaeaea;
}
.button.primary {
    border: none;
    color: #fff;
    background-color: #d4a668;
}
.button.full {
    width: 100%;
}
.button.disabled {
    background-color: #c2c2c2;
}

.stress {
    color: #d4a668;
    font-weight: normal;
}

.graphic-popup .form-list,
.graphic-popup .error-tip {
    width: 400px;
    margin: 0 auto;
}
.inner-graphic {
    position: absolute;
    top: 50%;
    right: 1px;
    height: 30px;
    border-left: 1px solid #dfdfdf;
    transform: translateY(-50%);
    cursor: pointer;
}

.font-color-primary {
    color: #d4a668;
}
.font-color-green {
    color: #13ae50;
}
.font-color-red {
    color: #f51726;
}

.ant-btn-buy {
    color: #fff!important;
    border-color: #13ae50!important;
    background-color: #13ae50!important;
}
.ant-btn-buy:hover {
    border-color: #87d068!important;
    background-color: #87d068!important;
}
.ant-btn-sell {
    color: #fff!important;
    border-color: #f51726!important;
    background-color: #f51726!important;
}
.ant-btn-sell:hover {
    border-color: #f50!important;
    background-color: #f50!important;
}


/* 广告条 */
.scroll-notice {
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: rgba(35, 31, 32, 0.4) 0px 3px 7px 0px;
    background-color: rgb(45, 52, 67);
}
.scroll-notice .iconfont {
    position: absolute;
    top: 50%;
    left: 80px;
    color: #d4a668;
    transform: translateY(-45%);
}
.scroll-notice .ant-carousel {
    width: 80%;
    margin: 0 auto;
}
.scroll-notice .notice-more , .scroll-notice a{
    display: block;
    line-height: 40px;
    color: #a6b7d2;
    cursor: pointer;
}
.scroll-notice .notice-more {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
}
.scroll-notice .slick-list, .scroll-notice .slick-track, .scroll-notice .slick-slider{
    height: 40px !important;
}
/* 广告条 */

/* 下拉菜单 */
.ant-dropdown {
    border: 1px solid #6e6e6e;
}
.ant-dropdown-menu-item{
    padding: 10px 12px;
    color: #fff;
    background-color: #2d3443;
}
.ant-dropdown-menu-item:hover {
    color: #d4a668;
    background-color: #545861;
}
/* 下拉菜单 */

.ant-btn-introduction,
.ant-btn-introduction:hover {
    height: 30px;
    padding: 0 12px;
    border: none;
    line-height: 30px;
    color: #c08b47;
    background-color: rgb(52, 60, 76);
    box-shadow: 0px 3px 7px 0px rgba(35, 31, 32, 0.7);
}
.ant-tooltip-inner {
    padding: 8px 15px!important;
}


.withdraw_content .ant-list-sm .ant-list-item{
    padding: 2px 0;
}
.bbex_notice .ant-list-header{
    border-bottom: 0 !important;
}