@charset "UTF-8";

* {
  box-sizing: border-box;
}

/** 清除内外边距 **/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

/** 设置默认字体 **/
body,
button,
input,
select,
textarea {
  font: 14px/1.5 MicrosoftYaHei, arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

/* 将斜体扶正 */
code,
kbd,
pre,
samp {
  font-family: MicrosoftYaHei;
}

/* 统一等宽字体 */
small {
  font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */
/** 重置列表元素 **/
ul,
ol {
  list-style: none;
}

/** 重置文本格式元素 **/
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/** 重置表单元素 **/
legend {
  color: #000;
}

/* for ie6 */
fieldset,
img {
  border: 0;
}

/* img 搭车：让链接里的 img 无边框 */
button,
input,
select,
textarea {
  font-size: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

/* 使得表单元素在 ie 下能继承字体大小 */
/** 重置表格元素 **/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 清除浮动 */
.clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}

.clear {
  *zoom: 1;
}

body .iconfont {
  font-size: 22px;
  vertical-align: middle;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
