.header-chart-panel-content .space-single {
  float: left;
}

.header-chart-panel-content .space-single.header-group-properties,
.header-chart-panel-content .space-single.header-group-fullscreen {
  float: none;
}

.chart-page .chart-container {
  border-color: #292f3d;
}

.header-chart-panel-content .space-single .button {
  background: #292f3d;
  border-color: #292f3d;
}
.header-chart-panel-content .space-single .button.select {
  background: rgb(92, 104, 124);
}
